behaviors:
  Dodgeball:
    trainer_type: ppo

    hyperparameters:
      batch_size: 512
      buffer_size: 5120
      learning_rate: 0.0003
      beta: 0.005
      epsilon: 0.2
      lambd: 0.95
      num_epoch: 3

    network_settings:
      normalize: true
      hidden_units: 128
      num_layers: 2

    reward_signals:
      extrinsic:
        gamma: 0.99
        strength: 1.0

    self_play:
      save_steps: 20000
      team_change: 40000
      swap_steps: 5000
      play_against_latest_model_ratio: 0.5
      window: 5

    max_steps: 1000000
    time_horizon: 64
    summary_freq: 5000
